<a href="https://colab.research.google.com/github/leifblake/cgt370lab3/blob/main/Blake_Leif_Lab3_CGT370.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

file_path = '/content/drive/My Drive/Motor_Vehicle_Collisions_-_Crashes_20250127.csv'

df = pd.read_csv(file_path)

Mounted at /content/drive

<ipython-input-1-b0249c3b919e>:8: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [2]:
# Check for missing values
print(df.isnull().sum())

# Fill missing values in less critical columns with placeholders
df_cleaned['ZIP CODE'] = df_cleaned['ZIP CODE'].fillna('UNKNOWN')
df_cleaned['ON STREET NAME'] = df_cleaned['ON STREET NAME'].fillna('UNKNOWN')

print(df_cleaned.isnull().sum())

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           666464
ZIP CODE                          666730
LATITUDE                          239596
LONGITUDE                         239596
LOCATION                          239596
ON STREET NAME                    462305
CROSS STREET NAME                 820302
OFF STREET NAME                  1781236
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7336
CONTRIBUTING FACTOR VEHICLE 2     339798
CONTRIBUTING FACTOR VEHICLE 3    1996155
CONTRIBUTING FACTOR VEHICLE 4    2115904
CONTRIBUTING FACTOR VEHICLE 5    2141540
COLLISION_ID                           0
VEHICLE TYPE CODE 1                14995
VEHICLE TYPE CODE 2               422166
VEHICLE TYPE CODE 3              2002017
VEHICLE TYPE CODE 4              2117169
VEHICLE TYPE CODE 5              2141837
dtype: int64

NameError: name 'df_cleaned' is not defined

In [3]:
# Make a copy of the original DataFrame to work on cleaned data
df_cleaned = df.copy()

In [4]:
# Fill missing values in less critical columns with placeholders
df_cleaned['ZIP CODE'] = df_cleaned['ZIP CODE'].fillna('UNKNOWN')
df_cleaned['ON STREET NAME'] = df_cleaned['ON STREET NAME'].fillna('UNKNOWN')
df_cleaned['BOROUGH'] = df_cleaned['BOROUGH'].fillna('UNKNOWN')

print(df_cleaned.isnull().sum())

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
LATITUDE                          239596
LONGITUDE                         239596
LOCATION                          239596
ON STREET NAME                         0
CROSS STREET NAME                 820302
OFF STREET NAME                  1781236
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7336
CONTRIBUTING FACTOR VEHICLE 2     339798
CONTRIBUTING FACTOR VEHICLE 3    1996155
CONTRIBUTING FACTOR VEHICLE 4    2115904
CONTRIBUTING FACTOR VEHICLE 5    2141540
COLLISION_ID                           0
VEHICLE TYPE CODE 1                14995
VEHICLE TYPE CODE 2               422166
VEHICLE TYPE CODE 3              2002017
VEHICLE TYPE CODE 4              2117169
VEHICLE TYPE CODE 5              2141837
dtype: int64

In [8]:
cleaned_file_path = '/content/drive/My Drive/Cleaned_Collisions.csv'
df_cleaned.to_csv(cleaned_file_path, index=False)

In [5]:
# Convert CRASH TIME to datetime and extract the hour
df_cleaned['CRASH TIME'] = pd.to_datetime(df_cleaned['CRASH TIME'], format='%H:%M', errors='coerce')
df_cleaned['HOUR'] = df_cleaned['CRASH TIME'].dt.hour

print(df_cleaned[['CRASH TIME', 'HOUR']].head())

           CRASH TIME  HOUR
0 1900-01-01 02:39:00     2
1 1900-01-01 11:45:00    11
2 1900-01-01 06:55:00     6
3 1900-01-01 09:35:00     9
4 1900-01-01 08:13:00     8

In [6]:
# Group by hour and count collisions
hourly_collisions = df_cleaned.groupby('HOUR').agg({'CRASH DATE': 'count'}).rename(columns={'CRASH DATE': 'COLLISION_COUNT'})

# Reset the index for better readability
hourly_collisions = hourly_collisions.reset_index()

print(hourly_collisions)

    HOUR  COLLISION_COUNT
0      0            70222
1      1            37867
2      2            29045
3      3            25591
4      4            29095
5      5            31467
6      6            48407
7      7            66007
8      8           118029
9      9           113448
10    10           105973
11    11           110601
12    12           117661
13    13           123375
14    14           142625
15    15           134060
16    16           154001
17    17           150974
18    18           132824
19    19           109442
20    20            91548
21    21            77993
22    22            71078
23    23            59835

In [7]:
pivot_table = pd.pivot_table(
    df_cleaned,
    values=['NUMBER OF PERSONS INJURED', 'CRASH DATE'],
    index='BOROUGH',
    aggfunc={'NUMBER OF PERSONS INJURED': 'sum', 'CRASH DATE': 'count'}
).rename(columns={'CRASH DATE': 'COLLISION_COUNT'})

pivot_table = pivot_table.reset_index()

print(pivot_table)

# Calculate correlation
correlation = pivot_table['COLLISION_COUNT'].corr(pivot_table['NUMBER OF PERSONS INJURED'])
print(f"Correlation coefficient between collisions and persons injured: {correlation}")

         BOROUGH  COLLISION_COUNT  NUMBER OF PERSONS INJURED
0          BRONX           219761                    74268.0
1       BROOKLYN           473971                   161644.0
2      MANHATTAN           330487                    72407.0
3         QUEENS           398217                   123716.0
4  STATEN ISLAND            62268                    18259.0
5        UNKNOWN           666464                   237991.0
Correlation coefficient between collisions and persons injured: 0.9758723732738896